
#block-form-registration{
	padding: 25px;
	margin-left: 25px;
}
#block-body{
	width: 1035px;
	height: auto;
	margin: 0 auto;
}
#block-header{
	width: auto;
	height: auto;
	min-height: 200px;
}





#block-form-registration{
	height: 250px;
	margin-left: 25px;
}
#form-registration{
	margin-top: 30px;
}
#form-registration li{
	margin-top: 10px;
}
#form-registration>li>input{
	height: 30px;
	width: 320px;
	font: 17px sans-serif;
	margin-left: 200px;
	padding-left: 5px;
	color: black;
	border-left: 1px solid #ABABAB;
	border-top: 1px solid #aba;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#form-registration > li >label{
	position: absolute;
	font: 15px sans-serif;
	margin-top: 7px;
}

#genpass{
	font: bold 13px sans-serif;
	text-decoration: underline;
	color: black;
	cursor: pointer;
	margin-left: 10px;
}
#genpass :hover{
	text-decoration: none;
}
#form-registration>li>input#reg_login,
#form-registration>li>input#reg_pass{
	height: 30px;
	width: 180px;
	font: 17px sans-serif;
	margin-left: 200px;
	padding-left: 5px;
	color: black;
	border-left: 1px solid #ABABAB;
	border-top: 1px solid #aba;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#form-registration>li>input:focus,
#form-registration>li>input#reg_login:focus,
#form-registration>li>input#reg_pass:focus,
#block-captcha>input#reg_captcha:focus
{
border: 1px solid #C4e1eb;
}
#block-captcha{
	position: absolute;
	margin-left: 200px;
	height: 70px;
}
#block-captcha >input#reg_captcha{
	height: 30px;
	width: 100px;
	font: 21px sans-serif;
	margin-left: 15px;
	padding-left: 5px;
	margin-top: 8px;
	color: black;
	border-left: 1px solid #ABABAB;
	border-top: 1px solid #aba;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#block-captcha img{
	float: left;
}
#block-captcha  p{
margin-top: 0px;
font: bold 15px sans-serif;
text-decoration: underline;
cursor: pointer;
clear: both;
}
#block-captcha  p:hover{
	text-decoration: none;
}
#form_submit{
	background: url(../images/grd_reg_button.png);
	border: 1px solid #E4e;
	font: bold 13px sans-serif;
	border-radius: 15%;
	padding-left: 7px;
	padding-right: 7px;
	height: 33px;
	width: 120px;
	cursor: pointer;
	margin-top: -15px;
	margin-right: 15px;
}
#form_submit:active{
	background: url(../images/grd_reg_button_vert.png);
	
}
.error{
	font: italic 14px sans-serif;
	color: red;
	margin-left: 5px;
}
.reg_message_good{
	font: 18px sans-serif;
	color: black;
	background-color: #EDE;
	border: 1px solid #e6e;

}
.reg_message_error{
	font: bold 14px sans-serif;
	color: red;
	background-color: #f7e;
	border: 1px solid #FAC;

}
#reg_message{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: none;
}
#block-top-auth{
	border: 1px solid silver;
	width: 210px;
	height: auto;
	margin-left:719px;
	margin-top: 40px;
	background-color: white;
	position: absolute;
	z-index: 9999;
	box-shadow: 15px #dbd;
	display: none;
}
.corner{
	background: url(../images/bulleticon.png);
	width: 19px;
	height: 10px;
	margin-left: 175px;
	margin-top:-9px;

}
#input-email-pass h3{
	font: 15px sans-serif;
	margin: 10px;

}
#message-auth{
	font: bold 13px sans-serif;
	margin-top: 10px;
	padding: 10px;
	background-color: black;
	color: red;
	display: none;
}

#input-email-pass >li{
	margin-top: 7px;
}
#input-email-pass  input#auth_login{
	width: 180px;
	height: 25px;
	font: 15px sans-serif;
	border: 1px solid silver;
	padding-left: 5px;

}
#input-email-pass  input#auth_pass{
	width: 180px;
	height: 25px;
	font: 15px sans-serif;
	border: 1px solid silver;
	padding-left: 5px;

}
.pass-show{
	background:url(../images/open_eye.png) no-repeat;
	width: 18px;
	height: 10px;

}
.pass-hide{
	background:url(../images/eye_closed.png) no-repeat;
	width: 20px;
	height: 10px;
}

#input-email-pass span{
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-top: 10px;
	position: absolute;
	margin-left: -28px;

}
#list-auth{
	margin-top: 12px;
}
#list-auth li{
	margin-top: 5px;
	margin-left: 10px;
	font: 14px sans-serif;

}
#list-auth a{
	color: black;
	text-decoration: none;
	margin-left: 3px;
	border-bottom: 1px dashed black;

}
#list-auth a:hover{
	border-bottom: none;
}
#button-auth a,#button-remind a{
	text-decoration: none;
	margin-right: 15px;
	cursor: pointer;
	background: url(../images/button-grd.png) repeat-x;
	font: bold 13px sans-serif;
	padding: 5px 10px 5px 10px;
	border:1px solid #E8e;
	border-radius: 15%;
	letter-spacing: 2px;
}
#button-auth a:hover{
	background: url(../images/button-grd-hover.png) repeat-x;
}
#button-auth a:active{
	background: url(../images/button-grd-active.png) repeat-x;
}
.auth-loading{
	margin-right: 30px;
	margin-top: 30px;
	display: none;
}
#auth-user-info{
	font: bold 14px sans-serif;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}
#auth-user-info:hover{
    color: #CF3A3A;
    border-bottom: 1px dashed #CF3A3A;
    cursor: pointer;
}
#auth-user-info > img{
    position: absolute;
    margin-left: -30px;
    margin-top: -3px;
}
